fastapi
uvicorn
sqlalchemy
psycopg2-binary
passlib[bcrypt]
python-multipart # for decoding data
python-jose[cryptography] # for creating JWT tokens
pydantic
pydantic[email]
pydantic-settings>=2.0.0
PyJWT>=2.0.0
redis 
fastapi-redis-cache
watchfiles
python-dotenv
fastapi_mail

