.UploadRecordImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 5%;
}

.ImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between Record and Upload images */
}

.RecordImage,
.UploadImage {
    width: 30%; /* Adjust size as needed */
    height: 30%;
}

.SpacerImage {
    position: absolute;
    top: 25%;
    left: 27%;
    width: 50%; /* Cover both images */
    height: 100%; /* Cover both images */
    z-index: 1; /* Ensure it appears on top */
    pointer-events: none; /* Prevent interaction if necessary */
}

.RecordButton {
    position: fixed; /* Fix the button to the viewport */
    bottom: 23%; /* Distance from the bottom of the viewport */
    right: 25%; /* Distance from the right of the viewport */
    padding: 8px;
    background-color: var(--naples-yellow);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width to fit content */
    height: auto; /* Adjust height to fit content */
    text-align: center; /* Center text inside the button */
}

.UploadButton{
    position: fixed; /* Fix the button to the viewport */
    bottom: 23%; /* Distance from the bottom of the viewport */
    left: 41%; /* Distance from the right of the viewport */
    padding: 8px;
    background-color: var(--naples-yellow);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width to fit content */
    height: auto; /* Adjust height to fit content */
    text-align: center; /* Center text inside the button */
}

.RecordButton:hover {
    background-color: var(--dark-yellow);
}

.UploadButton:hover {
    background-color: var(--dark-yellow);
}

.footerContainer {
    position: fixed; /* Fix the footer to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    left: 12%;
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    color: var(--white);
    z-index: 1000; /* Ensure it appears above other elements */
    max-width: 100%; /* Optional: Limit the width of the footer */
}

.FooterTitle {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--font-yellow); /* Optional: Adjust color to match your theme */
}

.FooterList {
    list-style-type: disc; /* Adds bullets to the list */
    margin-left: 20px; /* Indents the list */
    color: var(--white); /* Ensures the text is visible on a dark background */
    font-size: 19px;
}