.UploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Changed from 109% to 100vh */
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
    position: relative; /* Add relative positioning */
}

.PreviewSquare {
    width: 50%; 
    height: 70%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.ImagePreview, .VideoPreview {
    width: 95%;
    height: 80%; /* Default height */
    object-fit: contain; /* Ensure the entire photo is visible without cutting */
    border-radius: 10px;
    outline: 5px solid var(--light-grey); /* Updated to use variable */
    outline-offset: 10px; /* Adjust the spacing between the outline and the element */
    margin-top: 5%;
    margin-left: 2%;
}

.UploadButton, .ChooseFileButton {
    font-size: 16px;
    background-color: var(--naples-yellow);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 15px;
    width: 150px; /* Set a fixed width for both buttons */
    text-align: center;
}

.UploadButton:hover, .ChooseFileButton:hover {
    background-color: var(--dark-yellow);
}

.UploadStatus {
    margin-top: 10px;
    font-size: 14px;
    color: var(--charleston-green);
    text-align: center;
}

.ButtonGroup {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.FileInput {
    display: none;
}

.FileName{
    margin-top: 30px;
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
    .PreviewSquare {
        width: 70%; /* Adjust width for smaller screens */
        height: 60%; /* Adjust height for smaller screens */
    }

    .ImagePreview, .VideoPreview {
        width: 90%; /* Reduce width for smaller screens */
        height: 70%; /* Reduce height for smaller screens */
        outline: 3px solid var(--light-grey); /* Updated to use variable */
        outline-offset: 5px; /* Adjust spacing for smaller screens */
    }

    .UploadButton, .ChooseFileButton {
        font-size: 14px; /* Reduce font size for buttons */
        padding: 10px 10px; /* Adjust padding for smaller screens */
        width: 130px; /* Reduce button width */
    }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .PreviewSquare {
        width: 90%; /* Further adjust width for mobile screens */
        height: 50%; /* Further adjust height for mobile screens */
    }

    .ImagePreview, .VideoPreview {
        width: 85%; /* Further reduce width */
        height: 60%; /* Further reduce height */
        outline: 2px solid var(--light-grey); /* Updated to use variable */
        outline-offset: 3px; /* Adjust spacing for mobile screens */
    }

    .UploadButton, .ChooseFileButton {
        font-size: 12px; /* Further reduce font size for buttons */
        padding: 8px 8px; /* Adjust padding for mobile screens */
        width: 120px; /* Further reduce button width */
    }
}